.navbar li {


    display: flex;
text-align: center;
    justify-content: space-between;

}
/* 
ul > li > a {


    justify-content: space-between;
} */



a{ text-decoration: none;
/* align-items: center; */

/* text-align: justify; */


}



 