h1 {
    background-color: aquamarine;
      pading: 5px;
    margin: 5px;
     /* align-items: center; */
     justify-content: center;
     text-align: center;
}

p {
    color: blue;
    pading: 5px;
    margin: 5px;
    align-items: center;
    text-decoration: blink;
}




/*   background image add korar  jonno aivabe   likhte  hoy = background-image: url('house.png');  
likhte hoy  css  a  maje   style.css   a     */ 
/* .shofikul{
 height: 900px;
width: 900px; 
/* background-image: url('house.png'); */
align-items: left;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
mask-repeat: 2;
} */


#pic , p {
/* text-align: right; */
height: 200;
width: 150;
border: 2px solid blue;
margin: 2px solid red;
padding: 5px;
/* display: flex; */
/* flex-direction: column; */

}



.right {

/* text-align: right;  */


/* display: flex;
flex-direction: column;
 */


 /* align-items: center; */
 /* text-indent: 250px; */
 vertical-align: middle;
}